doctype
html
	head
		title="Hardem Dashboard"
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href='/bootstrap.min.css', rel='stylesheet')
		link(href='/bootswatch.min.css', rel='stylesheet')
		script(src='/jquery.min.js')
		//-script(src='/bootstrap.min.js')
	body
		div.container-fluid
			div.row
				div.col-md-12
					div.panel.panel-success
						div.panel-heading
							h1 #{data.nama}
						div.panel-body
							div.row
								div.col-md-12
									case data.state
										when 0
											img#emosi(src="/images/sad_kaktus.png")
										when 1
											img#emosi(src="/images/neutral_kaktus.png")
										when 2
											img#emosi(src="/images/happy_kaktus.png")
										when 3
											img#emosi(src="/images/sleep_kaktus.png")
							div.row
								div.col-md-12
									h3 Jenis tanaman : #{data.spesies}
							div.row
								div.col-md-12
									h3 Mulai tanam : #{data.tglTanam}
							div.row
								div.col-md-6
									h3 mood tanaman
									div.progress
										div(class='progress-bar progress-bar-info',id='humidProg')
									div.progress
										div(class='progress-bar progress-bar-info',id='tempProg')
									div.progress
										div(class='progress-bar progress-bar-info',id='luxProg')
								div.col-md-6
									h3 kondisi tanaman
									p
										span Kelembaban : 
										span#humidRaw #{data.status.humidRaw}
										span  %
									p
										span Suhu : 
										span#tempRaw #{data.status.tempRaw}
										span  C
									p
										span Cahaya : 
										span#luxRaw #{data.status.luxRaw}
										span  Lux
							div.row
								div.col-md-6
									case data.Lampu.isOn
										when 0
											p#isLampu Lampu mati
										when 1
											p#isLampu Lampu nyala
								div.col-md-6
									case data.Present.isOn
										when 0
											p#isPresent Tidak ada orang
										when 1
											p#isPresent Ada orang
							div.row
								div.col-md-6.col-xs-6
									button#btnSiram Siram
								div.col-md-6.col-xs-6
									button#btnLampu Lampu
		//-script(src='/socket.io/socket.io.js')
		script(src='/setup.js')
		script(src='/logic.js')
